.waste-hero-data-fetcher {
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .waste-hero-data-fetcher h2 {
    margin-bottom: 10px;
  }
  
  .waste-hero-data-fetcher form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .waste-hero-data-fetcher .date-inputs {
    display: flex;
    justify-content: space-between; /* Ensure inputs are evenly spaced */
  }
  
  .waste-hero-data-fetcher .date-inputs label {
    width: 48%; /* Adjust the width to leave some space between inputs */
  }
  
  .waste-hero-data-fetcher form input[type="date"],
  .waste-hero-data-fetcher form input[type="text"] {
    width: 100%; /* Adjusted width for better responsiveness */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .waste-hero-data-fetcher form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .waste-hero-data-fetcher form button:hover {
    background-color: #45a049;
  }
  